<div class="container text-center">
    <h1>About Page</h1>
    <p>We are DevMatch. Our company focuses on creating an exclusive community
    for developers and entrepreneurs to meet. Lorem ipsum dolor sit amet, consectetur 
    adipisicing elit. Inventore, aliquam, suscipit! Nemo quisquam aperiam totam 
    exercitationem dolorem, minima odio aspernatur, ullam laudantium autem in sit? 
    Assumenda a quae quibusdam corporis!</p>
</div>